// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$timepicker-dropdown-width: 200px; // задаем переменную

//Range fields
$input-width: 30%;
$input-margin: 12px;
$little-screen-margin: 5px;
$little-screen-width: calc(50% - 5px);
