// Variables
@import 'variables';
// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'icons';
@import 'custom-modal';

*{
    box-sizing: border-box;
}

@mixin input-range-styles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 10px;

    .time_start,
    .time_end {
        width: $input-width;
        margin-right: $input-margin;
    }

    .start_date,
    .end_date {
        width: $input-width;
        margin-right: $input-margin;
    }

    label {
        margin-left: 3px;
    }

}

//блок с окнами ввода временного промежутка и дат
.time_range,
.date_range {
    @include input-range-styles;
}



//фон body
body {
    background: linear-gradient(to right, #232222, #4f4c4c);
}

.bg-dark-gradient {
    background: linear-gradient(to right, #232222, #4f4c4c);
}

//стили выпадающего списка при выборе объекта

//кнопка
.select2-close-btn {
    width: 150px;
    position: relative;
    margin: 10px;
    padding: 5px;
    background-color: #e50c0c;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    &:hover {
        background: #1a202c;
    }
}

//Выпадающее меню
.select2-container {

    //стилизация крестика удаления объекта в поле выьора
    &--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #c53838 !important;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 3px;
    }

    // Стилизация поля ввода
    &--default .select2-selection {
        background: linear-gradient(to bottom right, #e7e1e1, #e3e1e1);
        border-color: black;
        border-width: 1px;
        margin-top: 3px;
        margin-bottom: 5px;
        transition: box-shadow 0.3s ease-in-out;;

        &:hover {
            border-width: 1px;
            box-shadow: 0 0 5px 3px rgba(62, 63, 66, 0.5);
        }

        &:focus {
            box-shadow: 0 0 5px 3px rgba(62, 63, 66, 0.85)
        }

        .select2-search__field {
            &:focus {
                box-shadow: none;
            }
        }
    }


    // Стилизация выбранных элементов в поле ввода
    .select2-selection {
        .select2-selection__choice {
            background: #c5bfbf;
            color: black;
        }
    }


    // Стилизация выпадающего списка
    .select2-results {
        &__option {
            background: linear-gradient(to bottom right, #e0e0e0, #d1d1d1);

            &:hover {
                background: rgba(6, 6, 31, 0.85);
            }

            &[aria-selected="true"] {
                background: rgba(6, 6, 31, 0.85);
                color: whitesmoke;
                border: #ef4444;
            }
        }
    }
}


//красная звездочка после содержимого lable для обязательных полей
.required::after {
    content: '*';
    color: red;
    margin-left: 3px;
}

.bg-gradient-blue {
    background: linear-gradient(to right, #5ddad7, #08518c);
}

.card.silver-gradient-form input,
.card.silver-gradient-form textarea {
    background: linear-gradient(to bottom right, #e7e1e1, #e3e1e1);
    border-style: solid;
    border-width: 1px;
    border-color: #484545;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 3px;
    margin-bottom: 5px;
    resize: none;
    box-sizing: border-box;
    outline: none;

    &:hover {
        box-shadow: 0 0 5px 3px rgba(62, 63, 66, 0.5);
    }

    &:focus {
        box-shadow: 0 0 5px 3px rgba(62, 63, 66, 0.5);
        transform: scale(1.01);
    }
}

.form-group textarea {
    resize: vertical; /* Разрешаем изменение размера только по вертикали */
    min-height: 50px; /* Минимальная высота textarea */
}

#guests{
    &:focus{
        min-height: 100px;
    }
}


.btn {
    color: whitesmoke;
    background: #4e555b;
    border-color: #010c0c;
    transition: transform 0.2s ease, box-shadow 0.3s ease; /* Добавляем плавные переходы */

    &:hover {
        color: whitesmoke;
        background: #505454;
        border-color: #010c0c;
        transform: scale(1.01); /* Увеличиваем размер кнопки при наведении */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавляем плавную тень при наведении */
    }

    &:active {
        color: whitesmoke;
        background: #7c1d1d ;
        border-color: #010c0c;
        transform: scale(0.95); /* Уменьшаем размер кнопки при активации (нажатии) */
    }
}



















































