.btn {
    color: whitesmoke;
    background: #4e555b;
    border-color: #010c0c;
    transition: transform 0.2s ease, box-shadow 0.3s ease; /* Добавляем плавные переходы */

    &:hover {
        color: whitesmoke;
        background: #505454;
        border-color: #010c0c;
        transform: scale(1.01); /* Увеличиваем размер кнопки при наведении */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавляем плавную тень при наведении */
    }

    &:active {
        background: #7c1d1d;
        border-color: #010c0c;
        transform: scale(0.95); /* Уменьшаем размер кнопки при активации (нажатии) */
    }
}

.active-link{
    background: #676d73 !important;
    border-color: #212020 !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Добавляем плавную тень при наведении */
}

.nav-buttons {
    display: flex; // Делаем контейнер флекс-контейнером
    flex-wrap: wrap; // Позволяет элементам оборачиваться на новую строку при нехватке места
    justify-content: center; // Выравниваем кнопки по центру по горизонтали
    gap: 10px; // Расстояние между кнопками (можете настроить по вашему желанию)

    .nav-buttons__button {
        flex: 1; // Делаем кнопки равномерно распределенными по ширине
        text-align: center; // Выравниваем текст внутри кнопок по центру
    }
}

@media (max-width: 768px) {

    .nav-buttons {
        flex-direction: column;
    }

    .nav-buttons__button {
        margin-right: 0; // Убираем правый отступ у кнопок на маленьких экранах
        margin-bottom: 10px; // Добавляем отступ снизу между кнопками
    }

};

// VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

.btn {
    background: #fff;
    color: mix(black, $muted-color, 90%);
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    &:hover {
        color: mix(#fffcfc, $muted-color, 90%);
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }
    &.btn-link {
        background: $hl-color;
        color: mix(white, $hl-color, 80%);
        &:hover {
            background: darken($hl-color, 5%);
            color: mix(white, $hl-color, 85%);
        }
    }
    &.btn-submit {
        background: $hl-color;
        color: mix(white, $hl-color, 90%);
        &:hover {
            background: darken($hl-color, 5%);
            color: mix(white, $hl-color, 100%);
        }
    }
    &.btn-cancel {
        background: #eee;
        &:hover {
            background: darken(#eee, 5%);
            color: mix(black, $muted-color, 30%);
        }
    }
}

.btn-box {
    text-align: center;
    margin: 50px 0;
}

