.property-data-container {

}


.check-box-group {
    display: flex;
    justify-content: center;

    &__item {
        margin-right: 15px;
    }

    label {
        margin-left: 3px;
    }

}

.property-checkbox {
    transform: scale(1.5);

    &:checked {
        transform: scale(1.5);
    }
    &:focus {
        outline: none !important;
    }
}

.select2-container .select2-selection--single{
    height: 36px;
}

