.select-modal-content{
 border-radius: 0 !important;
}

.chosen-wrapper {
    position: relative;
}

.application-select {
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding: 6px 45px 6px 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    &:focus {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border: 2px #353838;
    }
    option {
        font-size: 18px;
        height: 40px;
        padding: 0 10px;
    }
}

.app-choice-btn{
    width: 100%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


