@import 'variables';

@mixin input-range-styles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 10px;

    .time_start,
    .time_end,
    .start_date,
    .end_date {
        width: $input-width;
        margin-right: $input-margin;
    }


    label {
        margin-left: 3px;
    }

    @media (max-width: 390px) {
        .time_start,
        .time_end,
        .start_date,
        .end_date {
            width: $little-screen-width;
            margin-right: 5px;
        }
    }
}


//блок с окнами ввода временного промежутка и дат
.time_range,
.date_range {
    @include input-range-styles;
}
